### Functions

In [1]:
#define a function that prints out a greeting
def GreetUser(): #GreetUser is the function name/identifier
    print("Hello Simi!")  #the body of the function
    return #exiting the function

In [3]:
GreetUser() #call/invoke a function

Hello Simi!

In [4]:
#Define a function that takes in two input values and sums the two numbers
def Add(x, y):
    print(x + y)
    return

In [6]:
Add(2,3) #call the function

5

In [7]:
#write a function that concatenates the firstname and lastname with @yahoo.co.uk
def ConcatName(FirstName, LastName):
    print(FirstName + LastName + "@yahoo.co.uk")
    return

In [8]:
ConcatName("Simi", "Adeboye")#call the function

SimiAdeboye@yahoo.co.uk

#### Assignment: Write a Python Function that takes in two values and then provides the square result of the sum

In [26]:
def sum(a, b):
    print((a + b)**2)
    return

In [27]:
sum(2, 5)

49

In [30]:
num = 100 #global scope


def sub(x):
    a = x * num #a has a local
    return a

In [35]:
def sub2():
    a = num
    return a

print(a)

NameError: name 'a' is not defined

### OOP
#### Objects and Classes

In [3]:
class Car(): #The name of the classes start with the upper case
    def __init__(self, model, color, name):
        self.model = model
        self.color = color
        self.name = name
    def show(self): #The method/function associated to this Class
        print("The Car Model is: ", self.model)
        #print("The Car Color is: ", self.color)
        print("The Car name is: ", self.name)

In [7]:
class Lion():
    def __init__(self, color, gender): #The attributes
        self.color = color
        self.gender = gender
    def show(self):  #The method/function associated to this Class
        print("The color of this Lion is: ", self.color)
        print("The Gender of this Lion is: ", self.gender)
        return

In [8]:
#Create a Lion object
OneLion = Lion("Orange", "Male")

#apply the method associated
OneLion.show()

The color of this Lion is:  Orange
The Gender of this Lion is:  Male

In [9]:
#Create another Lion Object
SecondLion = Lion("DeepBrown", "Female")

#apply the method
SecondLion.show()

The color of this Lion is:  DeepBrown
The Gender of this Lion is:  Female

In [11]:
#Examine the class type
type(OneLion)

__main__.Lion

In [4]:
#Create an object from the Class
firstcar = Car("GWagon", "Black", "Mercedes")
firstcar.show()

The Car Model is:  GWagon
The Car name is:  Mercedes

In [5]:
#Another object
secondcar = Car("SUV", "Silver", "BWM")
secondcar.show()

The Car Model is:  SUV
The Car name is:  BWM

In [6]:
#Check the class
type(firstcar)

__main__.Car

In [45]:
thirdCar = Car(color = "Blue", name = "BMW", model = "Gwagon")
thirdCar.show()

The Car Model is:  Gwagon
The Car name is:  BMW

### Working with Strings
#### Split()

In [46]:
sentence = "This is my first attempt to learning Python Programming"

sentence

'This is my first attempt to learning Python Programming'

In [49]:
#The split() function cuts a string at certain position/character and saves the result as a list
sentence_list = sentence.split(' ')

print(sentence_list)

['This', 'is', 'my', 'first', 'attempt', 'to', 'learning', 'Python', 'Programming']

In [51]:
sentence_list[0:3]

['This', 'is', 'my']

In [52]:
uefa = "https://en.wikipedia.org/wiki/UEFA_Champions_League"

url_list = uefa.split('/')
print(url_list)

['https:', '', 'en.wikipedia.org', 'wiki', 'UEFA_Champions_League']

### Join()

In [56]:
sentence_list2 = ' '.join(sentence_list)

print(sentence_list2)

This is my first attempt to learning Python Programming

In [57]:
url_list2 = '/'.join(url_list)
print(url_list2)

https://en.wikipedia.org/wiki/UEFA_Champions_League

### Replace

In [59]:
sentence = "This is my first attempt to learning Python Programming"

sentence

a = sentence.replace("Python", "SQL")

print(a)

This is my first attempt to learning SQL Programming

In [60]:
b = a.replace("SQL", "Python")
print(b)

This is my first attempt to learning Python Programming

In [61]:
sentence[::-1] #how to reverse a string

'gnimmargorP nohtyP gninrael ot tpmetta tsrif ym si sihT'

In [1]:
wrd = "omo"

In [2]:
"go"[-1]

'o'

In [2]:
wrd[::-1] == wrd

True

In [82]:
#Python function that examines if the first letter of a string is the same as the last letter **bob
def checker(a):
    a = a.lower()
    b = list(a)
    if b[0] == b[-1]:
        print("The first of", a ,"word is same as last word")
    else:
        print("Not the same")

In [84]:
checker("PPA")

Not the same

In [1]:
import pandas as pd #import a module(pandas) into python

In [2]:
df = pd.read_excel("SalesForecast_RawData.xlsx")

#print df
print(df)

     ResellerOrOnline            Name  Month  Year        Revenue
0                   0       Australia      5  2013   49824.713775
1                   0       Australia      6  2013  134280.982239
2                   0       Australia      7  2013  266778.707809
3                   0       Australia      8  2013   55341.462000
4                   0       Australia      9  2013  124225.104000
..                ...             ...    ...   ...            ...
547                 1  United Kingdom      2  2014  175784.400000
548                 1  United Kingdom      3  2014  188023.700000
549                 1  United Kingdom      4  2014  206451.510000
550                 1  United Kingdom      5  2014  262427.320000
551                 1  United Kingdom      6  2014    4169.950000

[552 rows x 5 columns]

In [6]:
#head(), helps retrieve n number of values from the top of the dataframe
df.head() #by default it extracts the first five values

df.head(7)

   ResellerOrOnline       Name  Month  Year        Revenue
0                 0  Australia      5  2013   49824.713775
1                 0  Australia      6  2013  134280.982239
2                 0  Australia      7  2013  266778.707809
3                 0  Australia      8  2013   55341.462000
4                 0  Australia      9  2013  124225.104000
5                 0  Australia     10  2013  216979.992566
6                 0  Australia     11  2013   63379.626000

In [93]:
pwd # check working directory

'C:\\Users\\SIMIYOUNG\\Desktop\\Python 101 Class'

In [96]:
#tail(), helps retrieve n number of values from the bottom of the dataframe
df.tail(2)

     ResellerOrOnline            Name  Month  Year    Revenue
550                 1  United Kingdom      5  2014  262427.32
551                 1  United Kingdom      6  2014    4169.95

In [97]:
#examine all the column names
df.columns

Index(['ResellerOrOnline', 'Name', 'Month', 'Year', 'Revenue'], dtype='object')

In [98]:
#examine the dimension of your data
df.shape #rows, columns

(552, 5)

In [99]:
#examine the unique values in all the columns
df.nunique()

ResellerOrOnline      2
Name                 10
Month                12
Year                  4
Revenue             543
dtype: int64

In [3]:
#Summarise a dataframe
round(df.describe(), 2)

       ResellerOrOnline   Month     Year     Revenue
count            552.00  552.00   552.00      552.00
mean               0.53    6.49  2012.53   198952.81
std                0.50    3.40     0.93   193588.45
min                0.00    1.00  2011.00        7.28
25%                0.00    4.00  2012.00    55358.95
50%                1.00    6.00  2013.00   146106.34
75%                1.00    9.00  2013.00   266892.10
max                1.00   12.00  2014.00  1142686.24

In [103]:
#Extracting specific columns
df[["ResellerOrOnline", "Year", "Month"]].head()

   ResellerOrOnline  Year  Month
0                 0  2013      5
1                 0  2013      6
2                 0  2013      7
3                 0  2013      8
4                 0  2013      9

In [106]:
a= df[["Revenue"]].mean()
 
b= df[["Revenue"]].min()

c= df[["Revenue"]].max()

Revenue    1.142686e+06
dtype: float64

#### Assignment: Write a Python function, that returns the mean, min, max of revenue from the dataframe df

#### Write a Python Program that prompts students for their scores and tells them their grade

> 70 - A
64 to 69 - B
63 to 55 - C
54 to 45 - D
< 40     - E

In [ ]:
score = int(input("Input your score: "))

#check your working directory
if score >= 70:
    print("You got an A")
elif score >= 64:
    print("You got a B")
elif score >= 55:
    print("You got a C")
elif score >= 45:
    print("You got a D")
else:
    print("You got an F")