### Data Structures

### Lists

In [2]:
#How to create a list
MyFirstList = ["Simi", "Blue", "Business Consultant", "Pairview"] #A list is created with a square bracket

print(MyFirstList)

['Simi', 'Blue', 'Business Consultant', 'Pairview']

#### Assignment: Create a list containing the numbers 1 - 10 and then print it out

In [3]:
MyNumbers = [1,2,3,4,5,6,7,8,9,10]

print(MyNumbers)

sum(MyNumbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

55

In [4]:
sum(["1", "2"])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
a = "2"

a + 2

TypeError: can only concatenate str (not "int") to str

### Indexing is all about accessing values in a specific position

#### Indexing is done with Square brackets[]

In [6]:
MyNumbers[0] #Extract the first number inside MyNumbers list

MyNumbers[9]

10

In [8]:
MyNumbers[0:3] #The upper band in the range is left out

[1, 2, 3]

#### Assignment; Extract the last 4 values inside of the variable MyNumbers

In [11]:
MyNumbers[6:10]

[7, 8, 9, 10]

In [23]:
#create a  list of different colors
MyColors = ["Blue", "Red", "Brown", "White", "Pink"]

print(MyColors)

['Blue', 'Red', 'Brown', 'White', 'Pink']

In [17]:
"White" in MyColors #Check for existence of values in a list

True

In [19]:
11 in MyNumbers #Check for existence 11 in MyNumbers

False

In [24]:
MyColors[4] = "Purple" #update records inside of a list

In [25]:
print(MyColors)

['Blue', 'Red', 'Brown', 'White', 'Purple']

In [27]:
"Purple" in MyColors

True

In [46]:
#create a  list of different colors
MyColors = ["Blue", "Red", "Brown", "White", "Pink"]

print(MyColors)

['Blue', 'Red', 'Brown', 'White', 'Pink']

#### Assignment; Replace Blue with Black and Red with Gold inside of MyColors list

In [47]:
MyColors[0] = "Black" #Blue to Black

MyColors[1] = "Gold"

print(MyColors)

['Black', 'Gold', 'Brown', 'White', 'Pink']

In [40]:
MyColors[0:2] = ["Black","Gold"]

In [48]:
print(MyColors)

['Black', 'Gold', 'Brown', 'White', 'Pink']

In [49]:
del MyColors[0] #deleting contents of a list

In [50]:
print(MyColors)

['Gold', 'Brown', 'White', 'Pink']

In [51]:
del MyColors #deleting an entire list

In [52]:
print(MyColors)

NameError: name 'MyColors' is not defined

In [70]:
MyNumbers = [1,2,3,4,5,6,7,8,9,10]

print(MyNumbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
#Common functions in a list
print(len(MyNumbers)) #using len function

print(max(MyNumbers))

print(min(MyNumbers))

10
10
1

In [72]:
MyNumbers.append(11) #add objects to a list

In [73]:
print(MyNumbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [76]:
MyNumbers.remove(11) #remove objects from a list

In [77]:
print(MyNumbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
MyNumbers.sort(reverse = True) #reverse = False means ascending and True means descending order

In [84]:
print(MyNumbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [87]:
type(MyNumbers)

list

### Tuples

1. They are created with round brackets ()
2. They are immutable: You can't alter existing contents of a tuple

In [2]:
MyTuple = (1,2,3,4)

type(MyTuple) #the type function helps you check your data type

tuple

In [3]:
MyTuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [2]:
del MyTuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [90]:
MyTuple[3] = 10

TypeError: 'tuple' object does not support item assignment

#### Assignment: Create a List containing any 10 random numbers and then sum the Minimum value with the Maximum value and then multiply by the actual length of the list itself

In [95]:
MyList = [3,7,8,18,19,14,1,3, 10, 20]

(min(MyList) + max(MyList)) * len(MyList)

210

### Dictionaries

In [101]:
MyDict = {"FirstName" : "Simi", "LastName" : "Adeboye", "Occupation" : "Business Consultant"}

print(MyDict)

{'FirstName': 'Simi', 'LastName': 'Business Consultant', 'Occupation': 'Business Consultant'}

In [103]:
MyDict["LastName"] #access the values inside of a dictionary

'Business Consultant'

In [107]:
MyDict["Email"]  = "sadeboye@pairview.co.uk"  #update with email

In [108]:
print(MyDict)

{'FirstName': 'Simi', 'LastName': 'Business Consultant', 'Occupation': 'Business Consultant', 'Email': 'sadeboye@pairview.co.uk'}

In [106]:
del MyDict["Email"]

print(MyDict)

{'FirstName': 'Simi', 'LastName': 'Business Consultant', 'Occupation': 'Business Consultant'}

In [110]:
#Common functions associated with dictionaries
print(MyDict)

len(MyDict)

{'FirstName': 'Simi', 'LastName': 'Business Consultant', 'Occupation': 'Business Consultant', 'Email': 'sadeboye@pairview.co.uk'}

4

In [112]:
MyDict.get("FirstName") #gets value associated with a key

'Simi'

#### Write a python program thar prompts users for the month and returns the number of days inside that month

In [116]:
MyMonth = {"January" : 31,
           "February" : "28 (29 in leap years)",
           "March" : 31,
           "April" : 30,
           "May" : 31,
           "June" : 30,
           "July" : 31,
           "August" : 31,
           "September" : 30,
           "October" : 31,
           "November" : 30,
           "December" : 31}

UserPrompt = input("Input a month: ") #prompt user for a month

print(UserPrompt, "has", MyMonth[UserPrompt], "days")

Input a month: December
December has 31 days

#### Write a Python program that prompts users for a country and returns the capital for the Following Countries

- Argentina - Buenos Aires
- USA - Washinghton, D.C.
- UK - London
- United Arab Emirates - Abu Dhabi
- Nigeria - Abuja

In [117]:
MyCountries = {"Argentina" : "Buenos Aires",
               "USA" : "Washinghton, D.C",
               "UK" : "London",
               "United Arab Emirates" : "Abu Dhabi",
               "Nigeria" : "Abuja"}

UserPrompt = input("Input a Country: ")

print("The Capital of", UserPrompt, "is", MyCountries[UserPrompt])

Input a Country: Argentina
The Capital of Argentina is Buenos Aires

### Loops 

#### While Loop

In [123]:
var = 10

while var < 15:
    print(var, "is less than 15")
    var = var + 1

10 is less than 15
11 is less than 15
12 is less than 15
13 is less than 15
14 is less than 15

In [ ]:
var = 10

while var < 30:
    print(var, "is still less than 30")
    var += 1

In [ ]:
var = 20

while var > 0:
    print(var)
    var -= 1

In [ ]:
var = 20

while var > 0:
    print(var, "is greater than 0")
    var -= 1
else:
    print(var, "breaks the loop")

#### Assignment: Write a loop for all the numbers between 1 and 20 multiplying itself

In [126]:
var = 20

while var > 0:
    print(var, "multiplied by itself is:", var ** 2)
    var -= 1

20 multiplied by itself is: 400
19 multiplied by itself is: 361
18 multiplied by itself is: 324
17 multiplied by itself is: 289
16 multiplied by itself is: 256
15 multiplied by itself is: 225
14 multiplied by itself is: 196
13 multiplied by itself is: 169
12 multiplied by itself is: 144
11 multiplied by itself is: 121
10 multiplied by itself is: 100
9 multiplied by itself is: 81
8 multiplied by itself is: 64
7 multiplied by itself is: 49
6 multiplied by itself is: 36
5 multiplied by itself is: 25
4 multiplied by itself is: 16
3 multiplied by itself is: 9
2 multiplied by itself is: 4
1 multiplied by itself is: 1

In [127]:
var = 1

while var <= 20:
    print(var, "multiplied by itself is:", var ** 2)
    var +=1

1 multiplied by itself is: 1
2 multiplied by itself is: 4
3 multiplied by itself is: 9
4 multiplied by itself is: 16
5 multiplied by itself is: 25
6 multiplied by itself is: 36
7 multiplied by itself is: 49
8 multiplied by itself is: 64
9 multiplied by itself is: 81
10 multiplied by itself is: 100
11 multiplied by itself is: 121
12 multiplied by itself is: 144
13 multiplied by itself is: 169
14 multiplied by itself is: 196
15 multiplied by itself is: 225
16 multiplied by itself is: 256
17 multiplied by itself is: 289
18 multiplied by itself is: 324
19 multiplied by itself is: 361
20 multiplied by itself is: 400

In [129]:
n = 1

while n <= 20:
    print(n, 'is: ', n*n)
    n += 1  #Chandan

1 is:  1
2 is:  4
3 is:  9
4 is:  16
5 is:  25
6 is:  36
7 is:  49
8 is:  64
9 is:  81
10 is:  100
11 is:  121
12 is:  144
13 is:  169
14 is:  196
15 is:  225
16 is:  256
17 is:  289
18 is:  324
19 is:  361
20 is:  400

### For Loops

In [138]:
MyNumbers

for i in MyNumbers:
    print(i * 0.5)

5.0
4.5
4.0
3.5
3.0
2.5
2.0
1.5
1.0
0.5

In [148]:
MyNumbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [149]:
MyNumbers2 = []

for i in MyNumbers:
    a = i * 0.5
    MyNumbers2.append(a)

In [150]:
print(MyNumbers2)

[5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5]

In [144]:
#Write a python program that creates a list for all values less than 5 between the range of 0 - 10
MyList = [] #create an empty
print(MyList)

range(0, 10)

for i in range(0, 10):
    if i < 5:
        MyList.append(i)

[]

In [145]:
print(MyList)

[0, 1, 2, 3, 4]

W3schools.com[W3schools.com]